
TextControl0.pro.user

programm/data/TextOut.txt

*.o

programm/debug/moc_mainwindow.cpp

programm/debug/qrc_resource.cpp

programm/data/Text_.txt

programm/.qmake.stash

programm/moc_mainwindow.cpp

programm/moc_predefs.h

programm/qrc_resource.cpp

programm/ui_mainwindow.h

programm/data/Screenshot1.txt

programm/debug/moc_cparameters.cpp

mainwindow.cpp.autosave

TextControl0.pro.user.72ae61c

programm/debug/moc_cactionembracesquarebrackets.cpp

programm/object_script.TextControl0.Debug

programm/object_script.TextControl0.Release
